@import "tailwindcss";


.bannerW{
    width: 1050px;
};

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
};

@utility container {
  margin: auto;
};

.slick-dots{
  bottom: -80px !important;
}

.slick-dots li.slick-active button:before {
    opacity: 100 !important;
    color: #9d1515 !important; ;

}
.slick-dots li button:before{
    font-size: 12px !important;

}

